section {
    margin: 80px 5%;
    background: rgb(250, 206, 96);
    border-radius: 5px;
}

.container-fluid{
    transition: padding 0.5s;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3% ;
    border-bottom: 1px solid lightgray;
}

a{
    color:#333745;
}

a:hover{
    color:darkred!important;
    text-decoration: none;
}


/*****Table*****/

table{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

th{
    min-width: 10px;
}

.tfoot{
background-color: lightgray;
}

.hv{
    background: rgb(255, 214, 109);
}

.hv:hover{
    background: rgb(255, 227, 134);
}

/*****Book info*****/
img {
    height: auto;
    width: 100%;
    min-width: 100px;
    border-radius: 3px;
}

.book-info{
    margin-left: 10%;
}

a i{
    color: darkred;
    font-size: 3rem;
}

/*****Quantity input****/
form{
    text-align: center;
}

form, input{
    width: 60px ;
}
input, .form-control:focus{
    border-color: lightgray;
}

.card-link{
    margin:5px 0px;
}



/*********Media/Responsive*******/
@media (max-width: 480px) {
    section {
        margin: 80px 0%;
    }
    table{
        width: 100%; 
    }
    img{
        height: auto;
        width: 50px;
        border-radius: 3px;
    }
    .container-fluid{
        padding: 0px;
        transition: padding 0.5s;
    }
}
@media (min-width: 768px) {
    table{
        width: 90%; 
    }
}
@media (min-width: 992px) {
    table{
        width: 70%; 
    }
}
@media (min-width: 1200px) {
    table{
        width: 70%; 
    }
}