.categoryNav {
    text-align: center;
    list-style-type: none;
    background: white;
    border-radius: 5px;
    margin-top: 15px;

}

.categoryNav ul{
    display: inline-block;
    padding:10px 30px;
    margin-bottom: 0px;
}
.categoryNav ul:focus{
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.categoryNav ul:hover{
    color:grey;
    border-right: 4px solid rgb(247, 245, 245);
    border-left: 4px solid rgb(247, 245, 245);
    margin: 0px -4px;
}
.categoryNav a{
    text-decoration: none;

}

.categoryNav span{
color: #2a2a2b;
}

.selected{
    background: rgb(230, 230, 230);
    color: darkred;
}
