.form-group{
    margin-bottom:15px;
}

.form-control {
    border-radius:none;
    border: none;
    transition: border-bottom 1s;
    border-bottom: 1px solid lightgray!important;
}
.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #333745!important;
}


/** Input **/

input{
    background: none;
}
input:focus{
    background: white;
}


/** Radio **/

.custom-control-label{
    margin:  0px 15px;
}

/** Checked : Black center, no shadow, golden transition **/
.custom-control-input:checked~.custom-control-label::before{
    background-color: #2a2a2b;
  }
  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}
.custom-control-input:active ~ .custom-control-label::before {
    background-color: goldenrod;
}