.book{
    margin-bottom:50px;
}
.card-img-top{
    width:auto;
    height:210px;
    }
.card-body{
    position: relative;
    height: 200px;
    max-height: 200px;
}
.bookmark-deco{
    color:rgb(156, 59, 59);
    font-size: 2em;
    margin-left:30px;
}

.bookmark-deco:hover{
    color:darkred;
}
.card-title{
    font-size: 1em;
}
.card-subtitle{
    font-size:0.7em;
}
.card-link{
    color:rgb(73, 73, 73);
}

.card-link:hover{
    color: rgb(156, 59, 59);
}