section {
    margin: 80px 100px;
    background: white;
}

h2 {
    padding-left: 3% ;
    border-bottom: 1px solid lightgray;
}

.capitalize{
    text-transform: capitalize;
}

a{
    color:#333745;
}
a:hover{
    color:darkred;
    text-decoration: none;
}