<section>
    <h2 *ngIf="categoryLink"><a  [routerLink]="[category.category]"><span class="capitalize">{{category.category}}</span></a></h2>
    <h2 *ngIf="!categoryLink"><span  class="capitalize">{{category.category}}</span></h2>

    <div *ngIf="books" class="row justify-content-center owl-carousel owl-theme">
        <div *ngFor="let book of books">   
            <app-books [book]=book [categoryLink]=categoryLink></app-books>
        </div>
    </div>
</section>
<!--
<script>    
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})</script>
-->