<header>
    <app-nav></app-nav>
    

<!--

    <div class="owl-carousel owl-theme">
        <div class="item"><h4>1</h4></div>
        <div class="item"><h4>2</h4></div>
        <div class="item"><h4>3</h4></div>
        <div class="item"><h4>4</h4></div>
        <div class="item"><h4>5</h4></div>
        <div class="item"><h4>6</h4></div>
        <div class="item"><h4>7</h4></div>
        <div class="item"><h4>8</h4></div>
        <div class="item"><h4>9</h4></div>
        <div class="item"><h4>10</h4></div>
        <div class="item"><h4>11</h4></div>
        <div class="item"><h4>12</h4></div>
    </div>







    <div class="container">

  -->
<app-brand-header></app-brand-header>

<app-quote></app-quote>


 

</header>

<main class="container-fluid">
    <!--search bar-->
<app-search-bar></app-search-bar>
    <!--search bar-->

    <!-- Categories nav-->
<app-category-nav></app-category-nav>
    <!-- Categories nav-->

    <router-outlet></router-outlet>



</main>

<footer>
    <div class="row">
        <address class="col-sm-4 col-xs-12">
            <strong>Twitter, Inc.</strong><br>
            1355 Market Street, Suite 900<br>
            San Francisco, CA 94103<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>

<!--
    <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

        
            <a class="fb-ic">
                    <i class="fab fa-facebook-f"></i>
            </a>
       
            <a class="tw-ic">
                    <i class="fab fa-twitter"></i>
            </a>
    
            <a class="gplus-ic">
            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
    
            <a class="li-ic">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
-->
      <!-- Grid column -->
      <div class="footer-copyright text-center py-3 bg-dark">© 2018 Copyright:
            <a href="#"><span class="text-secondary"> Ana Lambea </span></a>
        </div>
</footer>