section {
    margin: 80px 100px;
    background: white;
    border-radius: 5px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 3% ;
    border-bottom: 1px solid lightgray;
}


a{
    color:#333745;
}
a:hover{
    color:darkred!important;
    text-decoration: none;
}