.navbar{
    padding-top: none;
    padding-bottom: 4px!important;
}

.collapse .nav-item .nav-link { 
    color:darkred;
    padding-right: 15px;
    padding-left: 15px;
}

.collapse .nav-item .nav-link:hover {
    border-bottom: 4px solid darkred;
    margin-bottom: -4px; 
    color: #333745;
}

.active {
    color: black!important;
}
.nav-item .active:hover{
    color: #333745!important;
}

.dropdown-menu {
    border:none;
    margin-top:5px;
}
.dropdown-menu:last-child {
    border-bottom: 2px solid darkgrey;
}



/*****Nav Brand*****/
.nav-brand {
    color: #333745!important;
}
.navbar-brand i{
    color: darkred!important;
}



/***** scroll *****/
.nav-scroll {
    background-color: rgba(214, 214, 214, 0.9);
}