.container{
    background: white;
    padding: 50px 20px;
    margin-top: 80px;
}
img {
    height: auto;
    width: 100%;
    min-width: 150px;
}
h2, h3 {
    margin-bottom:20px;

}

.capitalize{
    text-transform: capitalize;
}


/*****Modal*****/

.modal-content {
    border:none;
}
.modal-header{
    border-bottom:none;
}
.img-responsive{
    margin-bottom:15px;
}

a{
    color: rgb(73, 73, 73);
    text-decoration: none;
}

a:hover{
    color: darkred;
}
